#!/usr/bin/env bash

# available scrpts (mod_*):
#	battery, cpu, filesystem, mail, mcabber, memory, mpd, network, sensors, volume, weather, ping

SCRPTS=(
	[0]="cpu memory sensors filesystem battery volume network mail ping"
)

# for multiple monitors
#SCRPTS=(
#	[0]="cpu sensors memory filesystem network"
#	[1]="mcabber weather volume mpd"
#)

# mod_battery
BATTERY="/sys/class/power_supply/BAT0"
# callback functions; comment for disable
BATTERY__callback_on_battery() {
	notify-send -i battery-good "power" "on battery"
	backlight-brightness-control --set 6 > /dev/null
}
BATTERY__callback_on_cable() {
	notify-send -i battery-good-charging "power" "on cable"
	backlight-brightness-control --set 8 > /dev/null
}
BATTERY_UPDATE=10
# mod_cpu
CPU_UPDATE=1
# mod_filesystem
declare -A FILESYSTEM_DISK_LIST
FILESYSTEM_DISK_LIST=(["root:"]="/sda5") # grep of `df`
FILESYSTEM_UPDATE=2m
# mod_mail
MAIL_DIR="${HOME}/Mail"
MAIL_UPDATE=30
# mod_mcabber
MCABBER_STATE="${HOME}/.mcabber/mcabber.state"
MCABBER_UPDATE=10
# mod_memory
MEMORY_UPDATE=5
# mod_mpd
MPD_UPDATE=10
# mod_network
NETWORK_UPDATE=2
# mod_ping
PING_DESTINATION="1.1.1.1"
PING_UPDATE=30
# mod_sensors
declare -A SENSORS
SENSORS=(["CPU:"]=12 ["T2:"]=8) # line of `sensors`
SENSORS_UPDATE=2m
# mod_volume
VOLUME_MIXER="Master"
VOLUME_UPDATE=5
# mod_weather
WEATHER_SEARCH="UIII"
WEATHER_UPDATE=30m

#WIDTH=1366
WIDTH=$(xdpyinfo | grep dimensions | cut -d ' ' -f7 | cut -d 'x' -f 1)
HEIGHT=20
X=0
Y=748
FONT="terminus-12"
BG_COLOR="#002B36"
FG_COLOR="#657B83"
ICON_PATH="xbm\/"
ICON_COLOR="#268BD2"
TEXT_COLOR="#839496"
PIPE_FILE_DIR="/tmp/"
PIDS_FILE="/tmp/dzenbarpids"

putLineToPipeFile() {
	local MONITOR=${1}
	local PIPE_LINE=${2}
	local TEXT=${3}
	local PIPE_FILE=$(getPipeFilePath ${MONITOR})
	sed -i "${PIPE_LINE}s/.*/${TEXT}/" ${PIPE_FILE}
}

getPipeFilePath() {
	local MONITOR=${1}
	echo "${PIPE_FILE_DIR}dzenbarpipe_${MONITOR}"
}

icon() {
	local ICON=${1}
	echo -n "^i(${ICON_PATH}${ICON}.xbm)"
}

iconColor() {
	local ICON=${1}
	local COLOR="${2:-$ICON_COLOR}"
	echo -n "^fg(${COLOR})$(icon ${ICON})^fg()"
}

textColor() {
	local TEXT=${1}
	local COLOR=${2:-$TEXT_COLOR}
	echo -n "^fg(${COLOR})${TEXT}^fg()"
}
