#!/bin/bash
# .dzenbarrc config

declare -A FILESYSTEMS
FILESYSTEMS=(['root:']='/dev/sda6' ['home:']='/sda9') # grep of `df`
MAILDIR="$HOME/Mail/GMail/INBOX/new/"
INTERFACE='eth0'
declare -A SENSORS
SENSORS=(['CPU:']=4) # line of `sensors`
MIXER='Master'

PIPE='/tmp/dzenpipe'
ICON_PATH='xbm'
ICON_COLOR='#224488'
BG='#101010'
FG='#ffffff'
NORMAL_COLOR='^fg()'
GRAY_COLOR='^fg(#555555)'
CLEAR_COLOR='^fg()'
X=0
Y=1004
HEIGHT=20
WIDTH=1280
FONT='-*-terminus-medium-r-*-*-16-*-*-*-*-*-*-*'

# functions
icon() {
	echo -n "^fg($ICON_COLOR)^i($ICON_PATH/$1.xbm)^fg()"
}

text() {
	echo -n $GRAY_COLOR$1$CLEAR_COLOR
}
